@model IEnumerable<Yoga4Change_Survey_Data_Collection_System.Models.Survey>
@{
    ViewBag.Title= "Surveys";
}

<h1>Surveys</h1>

<body>
    <table id="example" class="table table-bordered table-striped" style="table-layout: auto;width: 100%;" cellspacing="0">
        <thead>
            <tr>
                <th><label asp-for="Survey ID: @Model.FirstOrDefault().ID"></label></th>
                <th><label asp-for="Name: @Model.FirstOrDefault().Name"></label></th>
                <th><label asp-for="Published: @Model.FirstOrDefault().Published"></label></th>
                <th class="text-center" colspan="4"><label>Actions</label></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var survey in Model)
            {
            <tr>
                <td>@survey.ID</td>
                <td>@survey.Name</td>
                <td>@survey.Published</td>
                <td class="text-center">Edit</td>
                <td class="text-center">Delete</td>
                <td class="text-center">Copy</td>
                <td class="text-center">Publish</td>
            </tr>
            }
        </tbody>
    </table>
</body>
